<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/thymeleaf/layouts/user_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script th:inline="javascript">
    var ehost = '[[${dto.room_host}]]';
    var elogin='[[${session.id}]]';
    var no='[[${session.dto.user_no}]]';
    var rno='[[${dto.room_no}]]';
    var rmax='[[${dto.room_max}]]';
</script>

<script type="text/javascript">
	$(function(){
		var host=ehost.substring(1, ehost.length - 1);
		var login=elogin.substring(1,elogin.length-1);
		
		if(host==login){
			console.log($("#join").css("background-color")=="blue");
			$("#join").css("background-color","blue");
			$("#join").text("방장");
			$("#join").prop("disabled",true);
		}else{
				$.ajax({
					url:"/room/joinChk",
					method:"get",
					dataType:"json",
					async:false,
					data:{"no":no, "rno":rno },
					success:function(edata){
						console.log(edata.no);
						if(edata.no!=null){
							
								$("#join").css("background-color","red");
								$("#join").text("참여중");
								$("#join").prop("disabled",true);
								
						
						}else{
							$("#join").css("background-color","#03C75A");
							$("#join").text("참여하기");
							$("#join").prop("disabled",false);
						
						}
					},
					error:function(e){
						console.log(e);
					}
				});
				
			
			
			if($("#join").css("background-color")!="red"){
				$.ajax({
					url:"/room/userMaxJoin",
					method:"get",
					dataType:"json",
					async:false,
					data:{"no": no, "rno" : rno},
					success:function(edata){
						console.log(edata.no);
						if(edata.no==3){
							$("#join").css("background-color","orange");
							$("#join").text("참여가능(3개)");
							$("#join").prop("disabled",true);
						
						}else if(edata.no==100){
							$("#join").css("background-color","orange");
							$("#join").text("마감");
							$("#join").prop("disabled",true);
						}
						else{
							$("#join").css("background-color","#03C75A");
							$("#join").text("참여하기");
							$("#join").prop("disabled",false);
						
						}
					},
					error:function(e){
						console.log(e);
					}
				})
				}

			}
		

	})
	
</script>

<style type="text/css">
 	p,img{
 		display: inline-block;
	}
	p{
		font-size:18px;
	}
	button{
		width:100px;
		height: 80px;
		background-color: #03C75A;
		font-size:25px;
		color:white;
	}
	
</style>
</head>
<body>
<div layout:fragment="content">

<h1 th:text="${dto.room_title}"></h1>
<p th:text="${'방번호 : '+dto.room_no}"></p><br/>
<p th:text="${'세션user_no :'+session.dto.user_no}"></p>
<form th:action="@{/room/roomJoin}" method="post">
<input type="hidden" name="user_no" th:value="${session.dto.user_no}"/>
<input type="hidden" name="room_no" th:value="${dto.room_no}"/>
<img style="width:320px ; height:200px;border-radius:10px;"
         				th:src="@{/img/{fileName}(fileName=${dto.room_image})}" >
<p th:text="${dto.room_host}"></p>
<p th:text="${'('+ dto.room_count+'/'+dto.room_max +')'}"></p><br/>

<label for="content">소개글</label><br/>
<textarea rows="8" cols="80" readonly name="content" th:text="${dto.room_content}"></textarea><br/>

<button type="submit" class="btn" id="join" >참여하기</button>
<button type="button" class="btn" >목록</button>
</form>

<form th:action="@{/room/upload}" method="post" enctype="multipart/form-data">
<input type="hidden" name="room_no" th:value="${dto.room_no}"/>
<table class="table">
	
   <tr>
      <th>파일이름</th>
      <th>파일크기</th>
   </tr>
   <tr th:if="${dto.fileDto[0].file_name==null}">
         <td>첨부파일 없음</td>
   </tr>
   <th:block th:each="fdto:${dto.fileDto}">
   <tr th:unless="${dto.fileDto[0].file_name==null}" >
         
         <td>
           
               <span class="glyphicon glyphicon-folder-close"></span>
               <a th:href="@{/room/download(file_no=${fdto.file_no})}" 
               th:text="${fdto.file_name+ fdto.file_no}"></a>;
         </td>
         <td>
         	<p th:text="${fdto.file_size}"></p>
         </td>
        
    </tr>
    </th:block>
</table>
<input type="file" class="btn" name="filename"  multiple="multiple"/>
<button type="submit" class="btn" id="upload" >자료공유</button>
</form>



</div>
</body>
</html>