
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/thymeleaf/layouts/user_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	span{
		font-weight:bold;
		color: red;
		font-size:15px;
	}
	
</style>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript">
	function readURL(input) {
		  if (input.files && input.files[0]) {
		    var reader = new FileReader();
		    reader.onload = function(e) {
		      document.getElementById('preview').src = e.target.result;
		    };
		    reader.readAsDataURL(input.files[0]);
		    
		  } else {
		    document.getElementById('preview').src = "";
		  }
		}
</script>

</head>

<body>
<div layout:fragment="content" class="content">
<h1>방 생성</h1>

<p th:text="${session.dto.user_id}"></p>
<p th:text="${session.dto.user_role}"></p>
<p th:text="${session.dto.user_no}"></p>

<!-- <form id="form1" th:action="@{/room/roomCreate}" method="post" th:object="${session.dto}"> -->

<!--  <input type="hidden" name="roomhost" th:value="${session.dto.user_id}"/> -->
<!--  <input type="hidden" name="roomhost" th:value="${session.dto.user_no}"/> -->
 
<!-- </form> -->

<div class="container">
<form id="form2" th:action="@{/room/roomCreate}" method="post" th:object="${roomCreateCommand}">
	<input type="hidden" name="roomhost" th:value="gggg"/>
	<label for="file">대표이미지</label><br/>
	<img id="preview" style="width:250px;height:250px;border-radius: 60%;"/>
	<input type="file" onchange="readURL(this);" name="filename"> <br/>
		
    <label for="title">스터디 이름</label><br/>
    <input type="text" id="title" name="title" th:field="*{title}">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br/>
    
    <label for="content">소개글</label><br/>
    <textarea rows="10" cols="60" name="content" th:field="*{content}"></textarea>
    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span><br/>
    
    <label for="category">카테고리</label>
    <select name="category" th:field="*{category}">
		<option value="">카테고리 선택</option>
	    <option value="language">어학</option>
	    <option value="invest">투자</option>
	    <option value="job">취업</option>
	    <option value="certificate">자격증</option>
	    <option value="etc">기타</option>
	</select>
	<span th:if="${#fields.hasErrors('category')}" th:classappend="${'invalid-feedback'}" th:errors="*{category}"></span><br/>
	<label for="upload">업로드 가능 여부</label>
    <input type="radio" id="upload" name="upload" value="y" checked onclick="uploadChk()"><br/>
    <label for="chat">대화창 생성 여부</label>
    <input type="radio" id="chat" name="chat" value="y"  checked onclick="chatChk()"><br/>
    
    <label for="max_num">참여인원</label>
    <select name="max_num" th:field="*{max_num}" >
    	<option value="">인원수 선택</option>
	    <option value="2">2</option>
	    <option value="3">3</option>
	    <option value="4">4</option>
	    <option value="5">5</option>
	</select>
	<span th:if="${#fields.hasErrors('max_num')}" th:classappend="${'invalid-feedback'}" th:errors="*{max_num}"></span><br/>
    <input type="submit" value="방생성 완료">
</form>
</div>
</div>
</body>
</html>