<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/thymeleaf/layouts/user_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>

<script type="text/javascript">
	function readURL(input) {
		  if (input.files && input.files[0]) {
		    var reader = new FileReader();
		    reader.onload = function(e) {
		      document.getElementById('preview').src = e.target.result;
		    };
		    reader.readAsDataURL(input.files[0]);
		    
		  } else {
		    document.getElementById('preview').src = "";
		  }
		}
</script>

</head>

<body>
<div layout:fragment="content" class="content">
<h1>방 생성</h1>

<form action="/room/createRoom" method="post" th:object="${roomCreateCommand}">
	<label for="file">대표이미지</label><br/>
	<img id="preview" style="width:250px;height:250px;border-radius: 60%;"/>
	<input type="file" onchange="readURL(this);" name="filename"> <br/>
		
    <label for="title">스터디 이름</label><br/>
    <input type="text" id="title" name="title" th:field="*{title}">
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br/>
    
    <label for="content">소개글</label><br/>
    <textarea rows="10" cols="60" name="content" th:field="*{content}"></textarea>
    <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span><br/>
    
    <label for="category">카테고리</label>
    <select name="category" required th:classappend="${#fields.hasErrors('category')} ? 'is-invalid' : ''>
<!-- 	    <option value="">관심사선택</option> -->
	    <option value="어학">어학</option>
	    <option value="자격증">자격증</option>
	    <option value="기타">기타</option>
	</select>
	<span th:if="${#fields.hasErrors('category')}" class="invalid-feedback" th:errors="*{category}"></span><br/>
	<label for="upload">업로드 가능 여부</label>
    <input type="radio" id="upload" name="upload" checked="checked" onclick="uploadChk()"><br/>
    <label for="chat">대화창 생성 여부</label>
    <input type="radio" id="chat" name="chat"  checked="checked" onclick="chatChk()"><br/>
    <label for="count">참여인원</label>
    <select name="count" required th:classappend="${#fields.hasErrors('count')} ? 'is-invalid' : ''>
<!-- 	    <option value="">최대 10명</option> -->
	    <option value="1">1</option>
	    <option value="2">2</option>
	    <option value="3">3</option>
	</select>
	<span th:if="${#fields.hasErrors('count')}" class="invalid-feedback" th:errors="*{count}"></span><br/>
    <input type="submit" value="방생성 완료">
</form>

</div>
</body>
</html>