<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/thymeleaf/layouts/user_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	#button1,#button2{
		width:500px;
		height:320px;
		display: inline-block;
		margin-top:200px;
		font-size:35px;
		border-radius: 10px;
	}
	
	#button1{
		position:absolute;

	}
	#button2{
		position:relative;
		
		left:800px;
	}
	
</style>
</head>
<body>
<div layout:fragment="content" class="content">

<div class="container">
<p th:text="${session.dto.user_id}"></p>

<div id="content" class="center-block">
	  <button type="button" id="button1" class="btn btn-success btn-lg" 
	  th:onclick="|location.href='@{/room/roomCreateForm}'|">스터디룸 생성</button>
	  <button type="button" id="button2" class="btn btn-success btn-lg"
	  th:onclick="|location.href='@{/room/roomList}'|">스터디룸 목록</button>
	</div> 

</div>
</div>
</body>

</html>