
.gallery-title
{
    font-size: 45px;
    color: #03C75A;
    text-align: center;
    font-weight: 700;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #03C75A;
}
.filter-button
{
    font-size: 20px;
    font-weight:bold;
    border: 1px solid #03C75A;
    border-radius: 5px;
    text-align: center;
    color: #03C75A;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 20px;
    font-weight:bold;
    border: 1px solid #03C75A;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #03C75A;

}
.btn-default:active .filter-button:active
{
    background-color: #03C75A;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
